.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #3d3e3d; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
    background-color: #45a049; 
}

.button-back {
    background-color: #7c7373; 
    color: white;
    padding: 10px 15px;
    margin-bottom: 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    display: inline-block; 
}

.button-back:hover {
    background-color: #d32f2f; 
}

.main-content {
    max-width: 800px;
    margin: 20px auto; /* Updated margin for top spacing */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds subtle shadow around the content area */
    border-radius: 8px; /* Adds rounded corners to the content area */
}
